<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<h2>My heroes</h2>
    <ul class="heroes">
        <li *ngFor="let heroe of heroes" (click)="onSelect(heroe)"
        [class.selected]="heroe == selectedHeroe">
            <span class="badge">{{heroe.id}}</span>{{heroe.name}}
            <button class="delete"
                (click)="delete(hero); $event.stopPropagation()">x</button>
        </li>
    </ul>
    <div *ngIf="selectedHeroe">
  <h2>
    {{selectedHeroe.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>